button,
a.btn,
input[type="submit"] {
	background-color: $primary-color;
	border: $border-2 $primary-color;
	color: $white-color;
	border-radius: 30px;
	padding: 13px 26px;
	@include ripple-effect;

	&.outline {
		background-color: transparent;
		color: $primary-color;

		&:hover {
			background-color: $primary-color;
			color: $white-color;
			border-color: $primary-color;
		}
	}
	&:hover {
		background-color: $secondary-color;
		color: $black-color;
		border-color: $black-color;
	}

	@include for-size(sm-down) {
		padding: 8px 26px;
	}
}
